{% load money %}

<div class="unit">
    <table class="table accounts nomargin tbl-accounts">
        <thead>
            <tr>
                <th class="num-id">ID</th>
                <th>Nazwa</th>
                <th class="money">Obroty<br>Wn</th>
                <th class="money">Obroty<br>Ma</th>
                <th class="money">Saldo<br>Wn</th>
                <th class="money">Saldo<br>Ma</th>
            </tr>
        </thead>
        {% for t in account.descendants %}
            <tr data-id="{{t.num_id}}" data-parent="{% if t.parent_id %}{{t.parent_id}}{% endif %}" class="{% if t.debit_balance == 0 and t.credit_balance == 0 %}zero{% endif %} {% if t.is_nominal %}nominal{% endif %} level{{t.level}}"{% if t.level > account.levelP1 %} style="display: none;"{% endif %}>
                <td class="num-id"><span><a href="{{t.url}}">{{t.local_id}}</a></span></td>
                <td>{{t.pub_name}}</td>
                <td class="turnover debit">{{t.debit_turnover|money}}</td>
                <td class="turnover credit">{{t.credit_turnover|money}}</td>
                <td class="balance debit {% if t.debit_balance == 0 %}zero{% endif %}">{{t.debit_balance|money}}</td>
                <td class="balance credit {% if t.credit_balance == 0 %}zero{% endif %}">{{t.credit_balance|money}}</td>
            </tr>
        {% endfor %}
        <tfoot>
            <tr class="{% if account.is_nominal %}nominal{% endif %}">
                <td colspan="2"></td>
                <td class="turnover debit">{{account.descendants_debit_turnover|money}}</td>
                <td class="turnover credit">{{account.descendants_credit_turnover|money}}</td>
                <td class="balance debit {% if account.descendants_debit_balance == 0 %}zero{% endif %}">{{account.descendants_debit_balance|money}}</td>
                <td class="balance credit {% if account.descendants_credit_balance == 0 %}zero{% endif %}">{{account.descendants_credit_balance|money}}</td>
            </tr>
        </tfoot>
    </table>
</div>
