<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">

	<title>{% block title %}Księga główna i księgi pomocnicze{% endblock %}</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<style type="text/css">
		{% include "kw/style.css" %}
	</style>
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<div class="big-wrapper">
		<div id="top" class="bigbar">
			<div class="bg left"></div>
			<div class="bg right"></div>
			<div class="container">
				{% block top %}<h1>Księga główna i księgi pomocnicze</h1>{% endblock %}
			</div>
		</div>

		<div class="container">
			{% block content %}{% endblock %}

			<hr>

			<footer class="footer" style="text-align: center">
			</footer>
		</div>
	</div>

	<div id="bottom" class="bigbar">
		<div class="bg left"></div>
		<div class="bg right"></div>
		<div class="container">
			<p>JawneKsięgi © <a href="http://facebook.com/tenbezkoszulki">Linus Lewandowski</a></p>
		</div>
	</div>
</body>
</html>
