{% extends "kw/base.html" %}

{% load money %}

{% block title %}{{doc}}{% endblock %}

{% block top %}
<h1>{{doc}}</h1>

<dl class="dl-horizontal">
	<dt>Data</dt>
	<dd>{{doc.date}}</dd>
</dl>
{% endblock %}

{% block content %}

<h2>Zapisy dziennika</h2>
{% include "kw/_journal_events.html" %}

{% if doc.files.all %}
<h2>Pliki</h2>
<ul class="media-list">
	{% for a in doc.files.all %}
		{% if a.public %}
			<li class="media">
				<div class="media-body">
					<h4 class="media-heading"><a href="{{a.url}}">{{a.name}}</a></h4>
				</div>
			</li>
		{% endif %}
	{% endfor %}
</ul>
{% endif %}

{% endblock %}
