{% extends "kw/base.html" %}

{% load money %}

{% block title %}{% if account %}{{account.num_id}}. {{account.pub_name}}{% else %}{{block.super}}{% endif %}{% endblock %}

{% block top %}
	{% if account %}
		<h1>{{account.num_id}}.<br><small>{{account.pub_name}}</small></h1>
		<dl class="dl-horizontal" style="overflow: hidden;">
			{% if account.parent_id %}
				<dt>Konto syntetyczne</dt>
				<dd><a href="{{account.parent.url}}">{{account.parent.num_id}}. {{account.parent.pub_name}}</a></dd>
			{% endif %}
		</dl>
	{% else %}
		<h1>{{block.super}}</h1>
	{% endif %}
{% endblock top %}

{% block content %}

{% if account.descendants %}
	<h2>Subkonta</h2>
	{% with account=account %}
		{% include "kw/_accounts.html" %}
	{% endwith %}
{% endif %}

{% if top_accounts.balance %}
	<h2>Konta bilansowe</h2>
	{% with account=top_accounts.balance %}
		{% include "kw/_accounts.html" %}
	{% endwith %}
{% endif %}

{% if top_accounts.nominal %}
	<h2>Konta wynikowe</h2>
	{% with account=top_accounts.nominal %}
		{% include "kw/_accounts.html" %}
	{% endwith %}
{% endif %}

<script>
function syncRows() {
	for (const row of document.querySelectorAll('.accounts tr')) {
		let visible = true
		let p = row
		while (p = p.parentRow)
			if (!p.classList.contains("expanded")) {
				visible = false
				break
			}
		row.style.display = visible ? null : 'none'
	}
}

setTimeout(() => {
	console.time('setup accounts list')
	const rows = []

	for (const row of document.querySelectorAll('.accounts tbody tr')) {
		rows[row.dataset.id] = row
		row.childRows = []
		row.parentRow = rows[row.dataset.parent]
		if (row.parentRow) row.parentRow.childRows.push(row)
	}

	for (const row of document.querySelectorAll('.accounts tbody tr')) {
		if (!row.childRows.length) row.classList.add("empty")
	}

	for (const accounts of document.querySelectorAll('.accounts')) {
		accounts.addEventListener('click', e => {
			const row = (() => {
				let target = e.target
				while (target) {
					if (target.href) return
					target = target.parentNode
					if (target && target.dataset && target.dataset.id) return target
				}
			})()
			if (!row) return
			e.stopPropagation()
			e.preventDefault()
			row.classList.toggle("expanded")
			syncRows()
		})
	}
	console.timeEnd('setup accounts list')
}, 0)
</script>

{% if events %}
	<h2>Zdarzenia</h2>
	{% with has_balance=True %}
		{% include "kw/_account_events.html" %}
	{% endwith %}
{% endif %}

{% if future_events %}
	<h2>Planowane zdarzenia</h2>
	{% with events=future_events %}
		{% include "kw/_account_events.html" %}
	{% endwith %}
{% endif %}

{% endblock %}
