@charset "UTF-8";

/*
:root {
  --color1: hsl(150, 50%, 70%);
  --color1l: hsl(150, 50%, 50%);
  --color1ll: hsl(150, 50%, 30%);
  --color2: hsl(210, 50%, 70%);
  --color2l: hsl(210, 50%, 50%);
  --color2ll: hsl(210, 50%, 30%);
}
*/
:root {
  --color1: hsl(213, 64%, 22%);
  --color1l: hsl(213, 64%, 52%);
  --color1ll: hsl(213, 64%, 22%);
  --color2: hsl(210, 57%, 36%);
  --color2l: hsl(210, 57%, 56%);
  --color2ll: hsl(210, 57%, 30%);
}

h1, h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: var(--color1); }

.bigbar dt {
  font-weight: normal;
  opacity: 0.7; }

.bigbar dl {
  font-size: 1.1em; }

a {
  color: var(--color2l); }
  a:hover {
    color: var(--color2l); }

html {
  overflow-y: scroll;
  height: 100%; }

body {
  height: 100%; }

.container > *:not(h1):not(h2) {
  margin-bottom: 2em; }

.big-wrapper {
  margin: 0 auto -60px;
  min-height: 100%; }
  .big-wrapper > .container {
    padding-bottom: 60px; }

#bottom {
  text-align: center; }
  #bottom p {
    font-size: 1.2em;
    margin: 0;
    line-height: 60px; }
  #bottom .container {
    padding: 0 !important; }

.bigbar {
  width: 100%;
  color: white;
  position: relative; }
  .bigbar h1, .bigbar h2 {
    color: inherit; }
  .bigbar > .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%; }
    .bigbar > .bg.left {
      left: 0;
      background-color: var(--color1); }
    .bigbar > .bg.right {
      right: 0;
      background-color: var(--color2); }
  .bigbar > .container {
    background: linear-gradient(to right, var(--color1), var(--color2));
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }

.unit {
  background: linear-gradient(to right, var(--color1), var(--color2));
  padding: 1px; }
  .unit table th, .unit table td {
    border: 0px !important; }
  .unit .table.nomargin {
    margin-bottom: 0; }

thead th, tfoot td {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: white; }

tbody td {
  background-color: transparent;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 1px, white 1px, white);
  color: #666; }

tbody .turnover, tbody .balance {
  text-align: right; }

tr.zero td, tr.zero a, td.zero {
  color: #bbb;
}
tr:not(.nominal):not(.capital) .balance.debit:not(.zero) {
  color: #40bf80; }

tr:not(.nominal):not(.capital) .balance.credit:not(.zero) {
  color: #bf4080; }

tr.nominal .balance.credit:not(.zero), tr.capital .balance.credit:not(.zero) {
  color: #40bf80; }

tr.nominal .balance.debit:not(.zero), tr.capital .balance.debit:not(.zero) {
  color: #bf4080; }

.accounts tr > .num-id::before {
  content: "";
  opacity: 0.5;
  width: 20px;
  margin-left: -20px;
  display: inline-block;
  box-sizing: content-box;
  color: var(--color1); }

.accounts .num-id {
  width: 250px;
}

.accounts .money {
  width: 150px; }

.accounts .money {
  text-align: right; }

.accounts tbody tr:not(.empty) > .num-id::before {
  content: "▶"; }

.accounts tbody tr.expanded:not(.empty) > .num-id::before {
  content: "▼"; }

.accounts tbody tr > .num-id {
  padding-left: 28px; }
  
.accounts tbody tr.level1 > .num-id {
  padding-left: 48px; }

.accounts tbody tr.level2 > .num-id {
  padding-left: 68px; }

.accounts tbody tr.level3 > .num-id {
  padding-left: 88px; }

.accounts tbody tr.level4 > .num-id {
  padding-left: 108px; }

.accounts tbody tr.level5 > .num-id {
  padding-left: 128px; }

.accounts tbody tr.level6 > .num-id {
  padding-left: 148px; }

.accounts tbody tr.level7 > .num-id {
  padding-left: 168px; }

.accounts tbody tr.level8 > .num-id {
  padding-left: 188px; }
