@charset "UTF-8";
h1, h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: {{color1}}; }

.bigbar dt {
  font-weight: normal;
  opacity: 0.7; }

.bigbar dl {
  font-size: 1.1em; }

a {
  color: {{color2l}}; }
  a:hover {
    color: {{color2l}}; }

html {
  overflow-y: scroll;
  height: 100%; }

body {
  height: 100%; }

.container > *:not(h1):not(h2) {
  margin-bottom: 2em; }

.big-wrapper {
  margin: 0 auto -60px;
  min-height: 100%; }
  .big-wrapper > .container {
    padding-bottom: 60px; }

#bottom {
  text-align: center; }
  #bottom p {
    font-size: 1.2em;
    margin: 0;
    line-height: 60px; }
  #bottom .container {
    padding: 0 !important; }

.bigbar {
  width: 100%;
  color: white;
  position: relative; }
  .bigbar h1, .bigbar h2 {
    color: inherit; }
  .bigbar > .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%; }
    .bigbar > .bg.left {
      left: 0;
      background-color: {{color1}}; }
    .bigbar > .bg.right {
      right: 0;
      background-color: {{color2}}; }
  .bigbar > .container {
    background: linear-gradient(to right, {{color1}}, {{color2}});
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }

.unit {
  background: linear-gradient(to right, {{color1}}, {{color2}});
  padding: 1px; }
  .unit table th, .unit table td {
    border: 0px !important; }
  .unit .table.nomargin {
    margin-bottom: 0; }

thead th, tfoot td {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: white; }

tbody td {
  background-color: transparent;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 1px, white 1px, white);
  color: #666; }

tbody .turnover, tbody .balance {
  text-align: right; }

tr.positive:not(.nominal) .balance.debit {
  color: #40bf80; }

tr.negative:not(.nominal) .balance.credit {
  color: #bf4080; }

tr.positive.nominal .balance.credit {
  color: #40bf80; }

tr.negative.nominal .balance.debit {
  color: #bf4080; }

#accounts tr > .num-id::before {
  content: "";
  opacity: 0.5;
  width: 20px;
  display: inline-block;
  box-sizing: content-box;
  color: {{color1}}; }

#accounts .num-id, #accounts .money {
  width: 100px; }

#accounts tbody tr:not(.empty) > .num-id::before {
  content: "▶"; }

#accounts tbody tr.expanded:not(.empty) > .num-id::before {
  content: "▼"; }

#accounts tbody tr.level1 > .num-id::before {
  padding-left: 20px; }

#accounts tbody tr.level2 > .num-id::before {
  padding-left: 40px; }

#accounts tbody tr.level3 > .num-id::before {
  padding-left: 60px; }

.django-admin #user-tools {
  position: absolute;
  top: 0px;
  right: 0px; }

.django-admin caption {
  background: none !important; }
  .django-admin caption a {
    font-size: 1.3em;
    font-weight: 300; }

.django-admin .module {
  padding-bottom: 10px !important;
  margin-bottom: 20px !important; }
  .django-admin .module:not(.aligned):not(.filtered) {
    background: linear-gradient(to right, {{color1}}, {{color2}});
    padding: 1px;
    border: 0; }
    .django-admin .module:not(.aligned):not(.filtered) h2 {
      color: white !important;
      background: none !important; }
    .django-admin .module:not(.aligned):not(.filtered) h3 {
      padding: 10px;
      background: white;
      margin: 0 !important; }
    .django-admin .module:not(.aligned):not(.filtered) ul {
      background: white;
      margin: 0 !important; }

.django-admin .inline-group {
  border: 0 !important; }

.django-admin .module h2 {
  color: {{color1}};
  font-size: 1.4em;
  font-family: "Open Sans";
  font-weight: 300;
  background: none !important; }

.django-admin .module thead th {
  background: none !important;
  border: 0; }

.django-admin .bigbar .container {
  padding: 5px; }

.django-admin .button {
  border: 0 !important;
  padding: 10px;
  font-size: 1.2em; }

.django-admin input[type=submit], .django-admin input[type=button] {
  border: 0 !important;
  padding: 10px;
  font-size: 1.2em; }

.django-admin .submit-row input, .django-admin a.button {
  border: 0 !important;
  padding: 10px;
  font-size: 1.2em; }

.django-admin .button.default, .django-admin input[type=submit].default, .django-admin .submit-row input.default {
  background: linear-gradient(to right, {{color1}}, {{color2}}); }

.django-admin tr {
  background: none !important; }

.django-admin tbody td, .django-admin tbody th {
  background-color: transparent;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 1px, white 1px, white);
  color: #666;
  border: 0; }