<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}Księga główna i księgi pomocnicze KWW Piotra Waglowskiego{% endblock %}</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	{% load pipeline %}
	{% stylesheet 'main' %}
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="big-wrapper">
		<div id="top" class="bigbar">
			<div class="bg left"></div>
			<div class="bg right"></div>
			<div class="container">
				{% block top %}<h1>Księga główna i księgi pomocnicze KWW Piotra Waglowskiego</h1>{% endblock %}
			</div>
		</div>

		<div class="container">
			{% block content %}{% endblock %}

			<hr>

			<footer class="footer" style="text-align: center">
				<p>
					Komitet Wyborczy Wyborców Piotra Waglowskiego<br/>
					ul. Miła 22, 01-047 Warszawa<br/>
					REGON: 362294366<br/>
					NIP: 5272743278
				</p>
				<p>Pytania i wątpliwości związane z finansami KWW Piotra Waglowskiego prosimy kierować na adres <a href="mailto:wplaty@piotrwaglowski.pl">wplaty@piotrwaglowski.pl</a>.</p>
			</footer>
		</div>
	</div>

	<div id="bottom" class="bigbar">
		<div class="bg left"></div>
		<div class="bg right"></div>
		<div class="container">
			<p>JawneKsięgi © <a href="http://facebook.com/wolny.internet">Janusz Lewandowski</a></p>
		</div>
	</div>
</body>
</html>
